.g-recaptcha {
	height: 78px;
}
.g-recaptcha-compact {
	height: 144px;
}
.g-recaptcha > div {
    margin-left: 30px;
	transform:scale(0.95);
	transform-origin:0 0;	
	-webkit-transform:scale(0.95);
	-webkit-transform-origin:0 0;
	height: 78px;
}
