<?xml version="1.0"?>
<!--
/**
 * Copyright © 2011-2017 Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * 
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<!--
	event controller_action_predispatch
	-->	    
    <event name="controller_action_predispatch">
        <observer name="faonni_recaptcha" instance="Faonni\ReCaptcha\Observer\Adminhtml\ValidateObserver" />
    </event>	
	<!--
	event layout_load_before
	-->	     
	<event name="layout_load_before">
		<observer name="faonni_recaptcha" instance="Faonni\ReCaptcha\Observer\Adminhtml\LayoutObserver" />
	</event> 
	<!--
	event admin_user_authenticate_before
	-->	     
	<event name="admin_user_authenticate_before">
		<observer name="faonni_recaptcha" instance="Faonni\ReCaptcha\Observer\Adminhtml\ValidateLoginObserver" />
	</event>  	                  
</config>
